<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>asd</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        const socket = io()
    </script>
</head>
<body>
<form method="post">
    <input type="text" id="username" placeholder="Username">
    <input type="hidden" id="sid">
    <button type="submit" id="send-btn">ok</button>
</form>
<script>
    document.getElementById('sid').value = socket.request.sid  // ez nem jó
</script>

<p id="asd"></p>
<script>
    socket.on("alma", function (asd){
        document.getElementById("asd").innerHTML = asd
    })
</script>
</body>
</html>